---

import MainLayout from "../layouts/MainLayout.astro";

---

<!-- <MainLayout title="My Astro Blog About page" description="My About Page"> -->
<MainLayout title="My About page" description="About page of my blog">
    <p>Hi from About!</p>
</MainLayout>